<footer>
    <div class="bg-gray-800 py-4 text-gray-400">
        <div class="container px-4 mx-auto">
            <div class="-mx-4 flex flex-wrap justify-between">
                <div class="px-4 mt-10 w-full sm:w-auto">
                    <div>
                        <h2
                            class="inline-block text-2xl font-semibold text-white pb-2 mb-4 border-b-4 border-green-700">
                            Company</h2>
                    </div>
                    <ul class="leading-8">
                        <li class="mb-5"><a href="/#/about-us" class="hover:text-blue-400">About Us</a></li>
                        <li class="mb-5"><a href="/#/terms-and-conditions" class="hover:text-blue-400">General Terms
                                &amp;
                                Conditions</a></li>
                        <li class="mb-5"><a href="/#/seller-terms-and-conditions" class="hover:text-blue-400">Seller`s
                                Terms &amp;
                                Conditions</a></li>
                        <li class="mb-5"><a href="/#/contact-us" class="hover:text-blue-400">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-green-700 py-4 text-gray-100">
        <div class="container mx-auto px-4">
            <div class="-mx-4 flex flex-wrap justify-between">
                <div class="px-4 w-full text-center sm:w-auto sm:text-left">
                    Copyright © 2024
                    Ore-zone. All Rights Reserved.
                </div>
                <div class="px-4 w-full text-center sm:w-auto sm:text-left">
                    <p class="inline-flex items-center justify-center mr-6 flex md:justify-start">
                        <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
                                <path
                                    d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
                            </svg>
                        </span>
                        69 Mandela St, 1035, South Africa
                    </p>
                    <p class="inline-flex items-center justify-center flex md:justify-start">
                        <span class="me-3 [&>svg]:h-5 [&>svg]:w-5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                <path
                                    d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z" />
                                <path
                                    d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z" />
                            </svg>
                        </span>
                        info&#64;orezon.co.zw
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>