<nav class="block w-full max-w-full bg-transparent text-white shadow-none rounded-xl transition-all px-0 py-1">
    <div class="flex flex-col-reverse justify-between gap-6 md:flex-row md:items-center">
        <div class="capitalize">
            <nav aria-label="breadcrumb" class="w-max">
                <ol
                    class="flex flex-wrap items-center w-full bg-opacity-60 rounded-md bg-transparent p-0 transition-all">
                    <li
                        class="flex items-center text-blue-gray-900 antialiased font-sans text-xl font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
                        <a href="#">
                            <p
                                class="block antialiased font-sans text-xl leading-normal text-blue-900 font-normal opacity-50 transition-all hover:text-blue-500 hover:opacity-100">
                                Sub Categories</p>
                        </a>
                        <span
                            class="text-gray-500 text-xl antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</nav>
<!-- Start block -->
<section class="bg-gray-50 dark:bg-gray-900 p-3 xl:p-5 antialiased">
    <div *ngIf="deleteModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>

        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center xl:items-center xl:p-0">
                <div
                    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all xl:my-8 xl:w-full xl:max-w-lg">
                    <div class="bg-white px-4 pb-4 pt-5 xl:p-6 xl:pb-4">
                        <div class="xl:flex xl:items-start">
                            <div
                                class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z" />
                                </svg>
                                <span class="sr-only">Warning icon</span>
                            </div>
                            <div class="mt-3 text-center xl:ml-4 xl:mt-0 xl:text-left">
                                <h3 class="text-2xl uppercase font-semibold text-gray-900" id="modal-title">DELETE</h3>
                                <div class="mt-2">
                                    <p class="text-xl text-gray-500">Are you sure you want to delete {{deleteName}}?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 xl:flex xl:flex-row-reverse xl:px-6">
                        <div class="p-4 md:p-5 text-center">
                            <button type="button" (click)="hideDialog()"
                                class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 rounded-lg text-xl inline-flex items-center px-5 py-2.5 text-center">
                                CANCEL
                            </button>
                            <button type="button" (click)="confirmDelete()"
                                class="py-2.5 px-5 ms-3 text-xl font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">YES</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md xl:rounded-lg overflow-hidden">
            <div
                class="flex flex-col md:flex-row md:items-center md:justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="flex-1 flex items-center space-x-2">
                    <h5>
                        <span class="text-gray-500 text-4xl">All Sub Categories:</span>
                    </h5>
                </div>
            </div>
            <div
                class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 border-t dark:border-gray-700">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <i class="fa fa-search mr-3"></i>
                            </div>
                            <input type="text" id="simple-search" placeholder="Search for products" required=""
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        </div>
                    </form>
                </div>
                <div
                    class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                    <!-- <button type="button" id="createProductButton" (click)="showCategoryModal()"
                        class="flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xl px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        <i class="fa fa-plus mr-3"></i>
                        Add Category
                    </button> -->
                    <button type="button" id="createProductButton" (click)="showModal()"
                        class="flex items-center justify-center text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-xl px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-primary-800">
                        <i class="fa fa-plus mr-3"></i>
                        Add Sub Category
                    </button>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="w-full text-xl text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xl text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="p-4">Id</th>
                            <th scope="col" class="p-4">Name</th>
                            <th scope="col" class="p-4">Category</th>
                            <th scope="col" class="p-4">Description</th>
                            <th scope="col" class="p-4">Created On</th>
                            <th scope="col" class="p-4">Last Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of subCategories"
                            class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <th scope="row"
                                class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <div class="flex items-center mr-3">
                                    {{item.id}}
                                </div>
                            </th>
                            <th scope="row" class="px-4 py-3">
                                <div class="flex items-center mr-3">
                                    {{item.name}}
                                </div>
                            </th>
                            <td class="px-4 py-3">
                                <span
                                    class="bg-green-100 text-primary-800 text-xl font-medium px-2 py-0.5 rounded dark:bg-green-900 dark:text-primary-300">{{item.category_name}}</span>
                            </td>
                            <td class="px-4 py-3">
                                {{item.description}}</td>
                            <td class="px-4 py-3">{{
                                item.created_at | date : 'MMM d, y' }}</td>
                            <td class="px-4 py-3">{{
                                item.updated_at | date : 'MMM d, y' }}</td>
                            <td class="px-4 py-3">
                                <div class="flex items-center space-x-4">
                                    <button type="button" (click)="edit(item)"
                                        class="py-2 px-3 flex items-center text-xl font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                                        <i class="fa fa-edit mr-3"></i>
                                        Edit
                                    </button>
                                    <button type="button" (click)="view(item)" data-modal-target="viewProductModal"
                                        data-modal-toggle="viewProductModal"
                                        aria-controls="drawer-read-product-advanced"
                                        class="py-2 px-3 flex items-center text-xl font-medium text-center text-white focus:outline-none bg-blue-700 rounded-lg border border-gray-200 hover:bg-blue-100 hover:text-green-700 focus:z-10 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-700 dark:bg-blue-800 dark:text-blue-400 dark:border-blue-600 dark:hover:text-white dark:hover:bg-blue-700">
                                        <i class="fa fa-eye mr-3"></i>
                                        Preview
                                    </button>
                                    <button type="button" (click)="delete(item)"
                                        class="flex items-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-3 py-2 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                                        <i class="fa fa-trash mr-3"></i>
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
                aria-label="Table navigation">
                <span class="text-xl font-normal text-gray-500 dark:text-gray-400">
                    Showing
                    <span class="font-semibold text-gray-900 dark:text-white">1-10</span>
                    of
                    <span class="font-semibold text-gray-900 dark:text-white">1000</span>
                </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                        <a href="#"
                            class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center text-xl py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center text-xl py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
                    </li>
                    <li>
                        <a href="#" aria-current="page"
                            class="flex items-center justify-center text-xl z-10 py-2 px-3 leading-tight text-primary-600 bg-green-50 border border-primary-300 hover:bg-green-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center text-xl py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">...</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center text-xl py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">100</a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav> -->
        </div>
    </div>

    <!-- Edit Product Modal -->
    <div *ngIf="editProduct" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center xl:items-center xl:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all">
                    <div class="relative p-4 bg-[#f3f7f5] rounded-lg shadow dark:bg-gray-800 xl:p-5"
                        style="border:green, solid , 1px;padding:2vw;">
                        <!-- Modal header -->
                        <div
                            class="flex justify-between items-center pb-4 mb-4 rounded-t border-b xl:mb-5 dark:border-gray-600">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Edit Sub Category</h3>
                            <button type="button" (click)="hideDialog()"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xl p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-toggle="createProductModal">
                                <i class="fa fa-close mr-3"></i>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form [formGroup]="subCategoryForm" (submit)="updateSubCategory()">
                            <div class="grid gap-4 mb-4 xl:grid-cols-2">
                                <div>
                                    <label for="name"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Name</label>
                                    <input type="text" id="name" formControlName="name"
                                        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Type product name" required="">
                                </div>
                                <div>
                                    <label for="category"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Category</label>
                                    <select id="category_id" formControlName="category_id"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                        <option value="">Select Category</option>
                                        <option *ngFor="let category of categories" [value]="category.id">
                                            {{category.name}}</option>
                                    </select>
                                </div>
                                <div class="xl:col-span-2">
                                    <label for="description"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Description</label>
                                    <textarea id="description" formControlName="description" rows="4"
                                        class="block p-2.5 w-full text-xl text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Write product description here">
                                    </textarea>
                                </div>
                            </div>
                            <div class="items-center space-y-4 xl:flex xl:space-y-0 xl:space-x-4">
                                <button type="submit" data-modal-target="createProductModal"
                                    data-modal-toggle="createProductModal"
                                    class="w-full xl:w-auto justify-center text-white inline-flex bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Edit
                                    product</button>
                                <button type="button" (click)="clear()"
                                    class="w-full xl:w-auto justify-center text-white inline-flex bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Create Product Modal -->
    <div *ngIf="createModal" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center xl:items-center xl:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all">
                    <!-- Modal content -->
                    <div class="relative p-4 bg-[#f3f7f5] rounded-lg shadow dark:bg-gray-800 xl:p-5"
                        style="border:green, solid , 1px;padding:2vw;">
                        <!-- Modal header -->
                        <div
                            class="flex justify-between items-center pb-4 mb-4 rounded-t border-b xl:mb-5 dark:border-gray-600">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Add Sub Category</h3>
                            <button type="button" (click)="hideDialog()"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xl p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-toggle="createProductModal">
                                <i class="fa fa-close mr-3"></i>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form [formGroup]="subCategoryForm" (submit)="createSubCategory()">
                            <div class="grid gap-4 mb-4 xl:grid-cols-2">
                                <div>
                                    <label for="name"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Name</label>
                                    <input type="text" id="name" formControlName="name"
                                        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Type product name" required="">
                                </div>
                                <div>
                                    <label for="category"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Category</label>
                                    <select id="category_id" formControlName="category_id"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                        <option value="">Select Category</option>
                                        <option *ngFor="let category of categories" [value]="category.id">
                                            {{category.name}}</option>
                                    </select>
                                </div>
                                <!-- <div class="grid gap-4 xl:col-span-2 md:gap-6 xl:grid-cols-4">
                                        <div>
                                            <label for="weight" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Item weight (kg)</label>
                                            <input type="number" name="weight" id="weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="12" required="">
                                        </div>
                                        <div>
                                            <label for="length" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Lenght (cm)</label>
                                            <input type="number" name="length" id="length" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="105" required="">
                                        </div>
                                        <div>
                                            <label for="breadth" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Breadth (cm)</label>
                                            <input type="number" name="breadth" id="breadth" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="15" required="">
                                        </div>
                                        <div>
                                            <label for="width" class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Width (cm)</label>
                                            <input type="number" name="width" id="width" class="bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="23" required="">
                                        </div>
                                    </div> -->
                                <div class="xl:col-span-2">
                                    <label for="description"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Description</label>
                                    <textarea id="description" formControlName="description" rows="4"
                                        class="block p-2.5 w-full text-xl text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Write product description here">
                                        </textarea>
                                </div>
                            </div>
                            <div class="items-center space-y-4 xl:flex xl:space-y-0 xl:space-x-4">
                                <button type="submit" data-modal-target="createProductModal"
                                    data-modal-toggle="createProductModal"
                                    class="w-full xl:w-auto justify-center text-white inline-flex bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-primary-800">Add
                                    Sub Category</button>
                                <button type="button" (click)="clear()"
                                    class="w-full xl:w-auto justify-center text-white inline-flex bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Create Category Modal -->
    <div *ngIf="createCategoryModal" class="relative z-10" aria-labelledby="modal-title" role="dialog"
        aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center xl:items-center xl:p-0">
                <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all">
                    <!-- Modal content -->
                    <div class="relative p-4 bg-[#f3f7f5] rounded-lg shadow dark:bg-gray-800 xl:p-5"
                        style="border:green, solid , 1px;padding:2vw;">
                        <!-- Modal header -->
                        <div
                            class="flex justify-between items-center pb-4 mb-4 rounded-t border-b xl:mb-5 dark:border-gray-600">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Add Category</h3>
                            <button type="button" (click)="hideDialog()"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xl p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-toggle="createProductModal">
                                <i class="fa fa-close mr-3"></i>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form [formGroup]="categoryForm" (submit)="createCategory()">
                            <div class="grid gap-4 mb-4 xl:grid-cols-2">
                                <div>
                                    <label for="name"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Name</label>
                                    <input type="text" id="name" formControlName="name"
                                        class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-xl rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Type product name" required="">
                                </div>
                                <div class="xl:col-span-2">
                                    <label for="description"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Description</label>
                                    <textarea id="description" formControlName="description" rows="4"
                                        class="block p-2.5 w-full text-xl text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                        placeholder="Write product description here">
                                        </textarea>
                                </div>
                            </div>
                            <div class="items-center space-y-4 xl:flex xl:space-y-0 xl:space-x-4">
                                <button type="submit" data-modal-target="createProductModal"
                                    data-modal-toggle="createProductModal"
                                    class="w-full xl:w-auto justify-center text-white inline-flex bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-primary-800">Add
                                    Category</button>
                                <button type="button" (click)="clear()"
                                    class="w-full xl:w-auto justify-center text-white inline-flex bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- View Product Modal -->
    <div *ngIf="viewProduct" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
            <div class="flex min-h-full items-end justify-center p-4 text-center xl:items-center xl:p-0">
                <div
                    class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all xl:my-8 xl:w-full xl:max-w-lg">
                    <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 xl:p-5"
                        style="border:green, solid , 1px;padding:2vw;">
                        <!-- Modal header -->
                        <div
                            class="flex justify-between items-center pb-4 mb-4 rounded-t border-b xl:mb-5 dark:border-gray-600">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">View
                                {{selectedSubCategory.name}}</h3>
                            <button type="button" (click)="hideDialog()"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xl p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-toggle="createProductModal">
                                <i class="fa fa-close mr-3"></i>
                            </button>
                        </div>
                        <!-- Modal body -->
                        <form [formGroup]="subCategoryForm">
                            <div class="grid gap-4 mb-4 xl:grid-cols-2">
                                <div>
                                    <label for="name"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Name</label>
                                    <span class="text-green-700">{{selectedSubCategory.name}}</span>
                                    <hr>
                                </div>
                                <div>
                                    <label for="category"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Category</label>
                                    <span class="text-green-700">{{selectedSubCategory.category_name}}</span>
                                    <hr>
                                </div>
                                <div class="xl:col-span-2">
                                    <label for="description"
                                        class="block mb-2 text-xl font-medium text-gray-900 dark:text-white">Description</label>
                                    <span class="text-green-700">{{selectedSubCategory.description}}</span>
                                    <hr>
                                    <hr>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>