<!-- SECTION -->
<div class="section">

    <div class="container mt-5 mb-8">
        <h2 class="inline-block text-3xl font-semibold text-black pb-2 mb-3 mt-3 border-b-4 border-green-700">
            Equipment Categories</h2>
    </div>

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
                <ul class="flex flex-wrap -mb-px text-2xl font-medium text-center" id="default-tab"
                    data-tabs-toggle="#default-tab-content" role="tablist">
                    <li class="me-2" role="presentation">
                        <button (click)="showDrilling()" class="inline-block p-4 border-b-2 rounded-t-lg"
                            id="drilling-tab" data-tabs-target="#drilling" type="button" role="tab"
                            aria-controls="drilling" aria-selected="false">| Drilling</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button (click)="showLoading()"
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="hauling-tab" data-tabs-target="#hauling" type="button" role="tab"
                            aria-controls="hauling" aria-selected="false">| Loading and Hauling</button>
                    </li>
                    <li class="me-2" role="presentation">
                        <button (click)="showCrushing()"
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="grinding-tab" data-tabs-target="#grinding" type="button" role="tab"
                            aria-controls="grinding" aria-selected="false">| Crushing and Grinding</button>
                    </li>
                    <li role="presentation">
                        <button (click)="showSeparation()"
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="separation-tab" data-tabs-target="#separation" type="button" role="tab"
                            aria-controls="separation" aria-selected="false">| Separation and Concentration</button>
                    </li>
                    <li role="presentation">
                        <button (click)="showUnderground()"
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="underground-tab" data-tabs-target="#underground" type="button" role="tab"
                            aria-controls="underground" aria-selected="false">| Underground Mining</button>
                    </li>
                    <li role="presentation">
                        <button (click)="showSafety()"
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="safety-tab" data-tabs-target="#safety" type="button" role="tab" aria-controls="safety"
                            aria-selected="false">| Safety</button>
                    </li>
                    <li role="presentation">
                        <button (click)="showMiscellaneos()"
                            class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                            id="miscellaneous-tab" data-tabs-target="#miscellaneous" type="button" role="tab"
                            aria-controls="miscellaneous" aria-selected="false">| Miscellaneous</button>
                    </li>
                </ul>
            </div>
            <div class="mt-10 mb-4 grid gap-8 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
                <div class="border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 bg-gray-50 dark:bg-gray-800"
                    *ngFor="let item of productList">
                    <!-- <a href="#">
                        <img class="rounded-t-lg" [src]="item.img" alt="" />
                    </a> -->
                    <div class="relative overflow-hidden">
                        <img class="object-cover w-full h-full" [src]="item.img_url" alt="Product">
                        <div class="absolute inset-0 bg-black opacity-40"></div>
                        <div class="absolute inset-0 flex items-center justify-center">
                            <button (click)="goToCategoryProducts(item.id)"
                                class="bg-green-700 text-white text-xl py-2 px-6 rounded-full font-bold hover:bg-gray-300 hover:text-black">View
                                Products</button>
                        </div>
                    </div>
                    <div class="p-5">
                        <a href="#">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                {{item.name}}</h5>
                        </a>
                        <p class="mb-3 text-green-700 font-normal text-gray-700 dark:text-gray-400">{{item.description}}
                        </p>
                    </div>
                </div>
            </div>



        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->