<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <li><a href="#"><i class="fa fa-phone"></i> +263-772-111-974</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i> info-emining.co.zw</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
            <li><a routerLink="/login"><i class="fa fa-gear"></i> Admin</a></li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->
<router-outlet />

<app-search></app-search>
<app-categories></app-categories>
<hr>
<section class="py-24 w-full table relative" style="background-color: rgb(255, 255, 255);">
    <div class="container relative">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3
            class="mb-6 md:text-3xl text-2xl text-[#f5705b] font-medium">Ready to start working with us now?
            </h3>
            <p class="text-[#3598db] max-w-xl mx-auto">Create or Update your profile here!!!
            </p>

            <div class="relative mt-10">
                <a href="buyer"
                    class="btn btn-primary">Register</a>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section>
<hr>
<app-products></app-products>  
<!-- <app-metals></app-metals> -->