<!-- TOP HEADER -->
<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <!-- <li><a href="#"><i class="fa fa-phone"></i> +263-772-111-974</a></li> -->
            <li><a href="#"><i class="fa fa-envelope-o"></i> info&#64;orezon.co.zw</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
            <li><a routerLink="/login"><i class="fa fa-gear"></i> Admin</a></li>
        </ul>
    </div>
</div>
<!-- /TOP HEADER -->
<router-outlet />

<app-search></app-search>
<app-categories></app-categories>
<hr>
<section class="py-24 w-full table relative bg-center bg-cover" style="background-image: url('assets/img/background.jpg');">
    <div class="absolute inset-0 bg-black opacity-70"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-6 md:text-7xl text-2xl text-white font-medium">Ready to start working with us now?</h3>

            <p class="text-white opacity-50 max-w-xl mx-auto">Register as a buyer to checkout and order availlable products or Register as a seller to list your products to the available customers.</p>

            <div class="relative mt-10">
            <div class="inline-flex rounded-md shadow-sm">
                <a href="#/buyer" aria-current="page" class="px-4 py-2 text-2xl font-medium text-white bg-green-700 border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Register As Buyer
                </a>
                <a href="#/seller" class="px-4 py-2 text-2xl font-medium text-white bg-blue-700 border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                    Register As Seller
                  </a>
            </div>
            
            </div>
            
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<hr>
<app-products></app-products>  
<!-- <app-metals></app-metals> -->