







<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Mining Drills</a></li>
                <li><a href="#">Earth Movers</a></li>
                <li><a href="#">Crushing Equipment</a></li>
                <li><a href="#">Conveyors</a></li>
                <li><a href="#">Feeders</a></li>

            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>











<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            @for (item of  productsList; track $index) {

                <div class="col-md-3">


                    <div class="product">
                        <div class="product-img">
                            <img  src="./assets/img/Hydraulic mining shovel.jpg" alt="">
                            <div class="product-label">
                                <span class="sale">-30%</span>
                                <span class="new">NEW</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">Hydraulic Mining Shovel</a></h3>
                            <h4 class="product-price">${{item.price}} <del class="product-old-price">{{item.price+ 150}}</del></h4>
                            <div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-btns">

                            </div>
                            <button class="add-to-cart-btn"> {{checkIfExist(item) + ' '}}  in cart</button>
                        </div>
                        <div class="add-to-cart">
                            <button class="add-to-cart-btn" (click)="updateCart(item)"><i class="fa fa-shopping-cart"></i> add to cart</button>



                        </div>
                    </div>
                </div>

            }


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>