<app-nav-bar></app-nav-bar>
<div class="bg-white rounded-lg shadow-lg px-8 py-8 max-w-7xl mx-auto mb-3">
    <div class="flex items-center justify-end">
        <button type="button" (click)="captureReportModal(pdfSection)"
            class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Export PDF
            <i class="ml-2 fa fa-file-export"></i>
        </button>
    </div>
</div>
<div class="pdfsection" id="pdfsection" #pdfSection>
    <div class="bg-white rounded-lg shadow-lg px-8 py-10 max-w-7xl mx-auto">
        <div class="flex items-center justify-between mb-8">
            <div class="flex items-center">
                <a href="#" class="block logo" style="font-size: 10vh;">
                    <img src="assets/img/top_nav-1.png" alt="" style="width: 200px;">
                </a>
            </div>
            <div class="text-gray-700 ml-10">
                <div class="font-bold text-3xl mb-2">INVOICE</div>
                <div class="text-green-700 font-bold text-xl">Date: <span class="font-normal">{{todayDate | date : 'MMM
                        d,
                        y'}}</span></div>
                <div class="text-green-700 font-bold text-xl">Invoice #: <span class="font-normal">INV12345</span></div>
            </div>
        </div>
        <div class="border-b-2 border-gray-300 pb-8 mb-10">
            <h2 class="text-3xl font-bold mb-4">Quotation To:</h2>
            <div class="text-green-700 text-xl">John Doe</div>
            <div class="text-green-700 text-xl ">123 Main St.</div>
            <div class="text-green-700 text-xl">Anytown, USA 12345</div>
            <div class="text-green-700 text-xl">johndoeexample.com</div>
        </div>
        <table class="w-full text-left mb-8">
            <thead>
                <tr>
                    <th class="text-gray-700 font-bold text-2xl uppercase py-2">Description</th>
                    <th class="text-gray-700 font-bold text-2xl uppercase py-2">Quantity</th>
                    <th class="text-gray-700 font-bold text-2xl uppercase py-2">Price</th>
                    <th class="text-gray-700 font-bold text-2xl uppercase py-2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of wishlist">
                    <td class="py-4 text-gray-700 text-xl">{{item.name}}</td>
                    <td class="py-4 text-gray-700 text-xl">{{item.quantity}}</td>
                    <td class="py-4 text-gray-700 text-xl">{{item.price | currency}}</td>
                    <td class="py-4 text-gray-700 text-xl">{{item.amount | currency}}</td>
                </tr>
                <tr>
                    <td class="py-4 text-gray-700"></td>
                    <td class="py-4 text-gray-700"></td>
                    <td class="py-4 text-gray-700 text-2xl">Total:</td>
                    <td class="py-4 text-gray-700 font-bold text-xl">{{wishlistCount | currency}}</td>
                </tr>
            </tbody>
        </table>
        <div class="border-t-2 border-gray-300 pt-8 mb-8">
            <div class="text-green-700 text-xl mb-2">Payment is due within 30 days. Late payments are subject to fees.
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>