<nav class="bg-slate-950 border-gray-200 dark:bg-black">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="block logo" style="font-size: 8vh;">
            <img src="assets/img/top_nav.png" alt="" style="width: 150px;">
        </a>

        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <ul class="header-links pull-right">
                <li *ngIf="dashboard">
                    <button [routerLink]="'/dashboard'" type="button"
                        class="border border-blue-700 text-white bg-black hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-blue-700 dark:focus:ring-blue">
                        <i class="fa fa-dashboard text-blue-700"></i>
                        Dashboard
                    </button>
                </li>
                <li *ngIf="home">
                    <button [routerLink]="'/'" type="button"
                        class="border border-green-700 text-white bg-black hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-green-700 dark:focus:ring-green">
                        <i class="fa fa-home"></i>
                        Home
                    </button>
                </li>
                <li *ngIf="logIn">
                    <button [routerLink]="'/login'" type="button"
                        class="border border-yellow-700 text-white bg-black hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-yellow-700 dark:focus:ring-yellow">
                        <i class="fa fa-unlock text-yellow-700"></i>
                        Log In
                    </button>
                </li>
                <li *ngIf="logOut">
                    <button [routerLink]="'/login'" type="button"
                        class="border border-red-700 text-white bg-black hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 text-center inline-flex items-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                        Log Out
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
            <ul
                class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-slate-950 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-slate-950 dark:bg-slate-950 md:dark:bg-slate-950 dark:border-gray-700">
                <li class="text-white"><a href="#"><i class="fa fa-envelope text-green-700"></i>
                        info&#64;orezon.co.zw</a></li>
                <li class="text-white"><a href="#"><i class="fa fa-map-marker text-green-700"></i> 1734 Stonecoal
                        Road</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- TOP HEADER -->
<!-- /TOP HEADER -->