<div id="top-header">
    <div class="container">
        <ul class="header-links pull-left">
            <!-- <li><a href="#"><i class="fa fa-phone"></i> +263-772-111-974</a></li> -->
            <li><a href="#"><i class="fa fa-envelope-o"></i> info&#64;orezon.co.zw</a></li>
            <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
        </ul>
        <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
            <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
            <li><a routerLink="/login"><i class="fa fa-user-o"></i> Admin</a></li>
        </ul>
    </div>
</div>

<section class="relative md:py-24 py-16" id="pricing">
        <div class="container" style="margin-bottom: 30px;">
            <div class="grid grid-cols-1 pb-8 text-center">
                <h1 class="text-green-700 font-weight-bold text-5xl uppercase mb-2">Seller Registration</h1>

                <p class="text-slate-400 dark:text-slate-300 max-w-xl mx-auto">Register as a seller in order to advertise your products to the buyers.</p>
            </div>
            <form [formGroup]="sellerForm" (submit)="createSeller()"
            style="border:green, solid , 1px;padding:2vw; background-color:#f3f7f5">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-4 lg:w-1/3 px-1 md:px-10">
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter full name" required>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter email" required>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="id_number" class="form-label">Password<i style="color: grey;">(*atleast 8 characters)</i></label>
                            <input type="password" class="form-control" id="password" minlength="8" formControlName="password" placeholder="Enter password" required>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="password_confirmation" class="form-label">Password Confirmation<i style="color: grey;"></i></label>
                            <input type="password" class="form-control" id="password_confirmation" formControlName="password_confirmation" placeholder="Confirm your password" required>
                        </div>
                    </div>
                    <div class="col-md-4 px-1 md:px-10">
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="business_name" class="form-label">Business Name</label>
                            <input type="text" class="form-control" id="business_name" formControlName="business_name" placeholder="Enter business name" required>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="country" class="form-label">Country</label>
                            <select id="country" class="form-control" formControlName="country" required>
                                <option value="">Select Country</option>
                                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                            </select>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="id_number" class="form-label">National ID/ Passport No<i style="color: grey;"> (*6 - 12 characters)</i></label>
                            <input type="text" class="form-control" id="id_number" formControlName="id_number" maxlength="12" minlength="6" placeholder="Enter national ID/ passport No" required>
                        </div>
                        <div class="row" style="margin-bottom: 20px;">
                            <label for="phone" class="form-label">Phone<i style="color: grey;"> (*minimum of 10 characters)</i></label>
                            <input type="text" class="form-control" id="phone" formControlName="phone" minlength="10" placeholder="Enter phone" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form [formGroup]="bankForm"
                                style="border:green, solid , 1px;padding:1vw; background-color:#f3f7f5">
                                <legend class="w-auto px-2">Banking Details</legend>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-md-12">
                                        <label for="bank" class="form-label">Bank Name</label>
                                        <input type="text" class="form-control" id="bank" formControlName="bank" placeholder="Enter bank name" required>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-md-12">
                                        <label for="account_number" class="form-label">Account Number</label>
                                        <input type="text" class="form-control" id="account_number" formControlName="account_number" placeholder="Enter account number" required>
                                    </div>
                                </div>
                                <div class="row" style="margin-bottom: 20px;">
                                    <div class="col-md-6">
                                        <label for="branch" class="form-label">Branch</label>
                                        <input type="text" class="form-control" id="branch" formControlName="branch" placeholder="Enter branch" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="branch_code" class="form-label">Branch Code</label>
                                        <input type="text" class="form-control" id="branch_code" formControlName="branch_code" placeholder="Enter branch code" required>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
                
                <div class="card" style="margin-top: 2vh;background-color:green;color:white;text-align: center;" *ngIf="successMessage">{{successMessage}}</div>
                <div class="card" style="margin-top: 2vh;background-color:red;color:white;text-align: center;" *ngIf="errorMessage">{{errorMessage}}</div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!sellerForm.valid" style="margin-top: 20px;">Submit</button>
            </form>
            
        </div>
</section>



  
<!-- End -->
