<!-- MAIN HEADER -->
<hr>
<div id="header" class="bg-slate-950">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-2 clearfix pull-left"></div>

			<!-- SEARCH BAR -->
			<div class="col-md-8 clearfix pull-left">
				<div class="header-search">

					<form class="max-w-[400px] mx-auto md:max-w-[500px] lg:max-w-[600px]">
						<div class="flex">
							<select (change)="onSelection($event)"
								class="text-xl font-medium text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600">
								<option value="">Select Category </option>
								<option *ngFor="let category of categories" [value]="category.id">
									{{category.name}}</option>
							</select>
							<select (change)="goToCategoryProducts($event)"
								class="rounded-r-lg bg-gray-50 border border-gray-300 text-gray-900 text-xl focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
								<option value="">Select Sub-Category</option>
								<option *ngFor="let subCategory of filteredSubCategories" [value]="subCategory.id">
									{{subCategory.name}}</option>
							</select>
						</div>
					</form>

				</div>
			</div>
			<!-- /SEARCH BAR -->

			<!-- ACCOUNT -->
			<div class="col-md-2 clearfix pull-right">
				<div *ngIf="showCart" class="header-ctn">
					<!-- Wishlist -->
					<!-- <div>
									<a href="#">
										<i class="fa fa-heart"></i>
										<span>Your Wishlist</span>
										<div class="qty">2</div>
									</a>
								</div>
								/Wishlist -->

					<!-- Cart -->
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<i class="fa fa-shopping-cart"></i>
							<span>Your Cart</span>
							<div class="qty">{{totalCart}}</div>
						</a>
						<div class="cart-dropdown">
							<div class="cart-list">

								@for (item of currentCart; track $index) {

								<div class="product-widget">
									<div class="product-img">
										<img [src]="item.image_url" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-name"><a href="#">{{item.name}}</a></h3>
										<h4 class="product-price"><span
												class="qty">{{item.quantity}}x</span>${{item.price}}</h4>
									</div>
									<button class="delete" (click)="removeItem(item)"><i
											class="fa fa-close"></i></button>
								</div>
								}


							</div>
							<div class="cart-summary">
								<small>{{totalCart}} Item(s) selected</small>
								<h5>SUBTOTAL: ${{cartTotalAmount }}</h5>
							</div>
							<div class="cart-btns" type="button">
								<a href="#">Cancel</a>
								<a href="#/cart">View Cart <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /Cart -->

					<!-- /Menu Toogle -->
				</div>
			</div>
			<!-- /ACCOUNT -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- /MAIN HEADER -->