<!-- MAIN HEADER -->
<hr>
<div id="header" class="bg-slate-950">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<div class="col-md-2 clearfix pull-left"></div>

			<!-- SEARCH BAR -->
			<div class="col-md-8 clearfix pull-left">
				<div class="header-search">

					<form class="max-w-[400px] mx-auto md:max-w-[500px] lg:max-w-[600px]">
						<div class="flex">
							<label for="search-dropdown"
								class="mb-2 text-lg font-medium text-gray-900 sr-only dark:text-white">Your
								Email</label>
							<button id="dropdown-button" data-dropdown-toggle="dropdown"
								class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-xl font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600"
								type="button">All categories <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true"
									xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
										stroke-width="2" d="m1 1 4 4 4-4" />
								</svg>
							</button>
							<div id="dropdown"
								class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
								<ul class="py-2 text-xl text-gray-700 dark:text-gray-200"
									aria-labelledby="dropdown-button">
									<li>
										<button type="button"
											class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mining
											Drills</button>
									</li>
									<li>
										<button type="button"
											class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earth
											Movers</button>
									</li>
									<li>
										<button type="button"
											class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Crushing
											Equipment</button>
									</li>
									<li>
										<button type="button"
											class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Conveyors</button>
									</li>
								</ul>
							</div>
							<div class="relative w-full">
								<input type="search" id="search-dropdown"
									class="block p-2.5 w-full z-20 text-xl text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
									placeholder="Search Categories..." required />
								<button type="submit"
									class="absolute top-0 end-0 p-2.5 text-xl font-medium h-full text-white bg-green-700 rounded-e-lg border border-green-700 hover:bg-green-800 dark:bg-blue-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
									<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
										fill="none" viewBox="0 0 20 20">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
											stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
									</svg>
									<span class="sr-only">Search</span>
								</button>
							</div>
						</div>
					</form>

				</div>
			</div>
			<!-- /SEARCH BAR -->

			<!-- ACCOUNT -->
			<div class="col-md-2 clearfix pull-right">
				<div class="header-ctn">
					<!-- Wishlist -->
					<!-- <div>
									<a href="#">
										<i class="fa fa-heart"></i>
										<span>Your Wishlist</span>
										<div class="qty">2</div>
									</a>
								</div>
								/Wishlist -->

					<!-- Cart -->
					<div class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
							<i class="fa fa-shopping-cart"></i>
							<span>Your Cart</span>
							<div class="qty">{{totalCart}}</div>
						</a>
						<div class="cart-dropdown">
							<div class="cart-list">

								@for (item of currentCart; track $index) {

								<div class="product-widget">
									<div class="product-img">
										<img src="assets/img/product01.png" alt="">
									</div>
									<div class="product-body">
										<h3 class="product-name"><a href="#">{{item.name}}</a></h3>
										<h4 class="product-price"><span
												class="qty">{{item.quantity}}x</span>${{item.price}}.00</h4>
									</div>
									<button class="delete"><i class="fa fa-close"></i></button>
								</div>
								}


							</div>
							<div class="cart-summary">
								<small>{{totalCart}} Item(s) selected</small>
								<h5>SUBTOTAL: ${{cartTotalAmount }}</h5>
							</div>
							<div class="cart-btns">
								<a href="#">View Cart</a>
								<a href="#">Checkout <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /Cart -->

					<!-- Menu Toogle -->
					<div class="menu-toggle">
						<a href="#">
							<i class="fa fa-bars"></i>
							<span>Menu</span>
						</a>
					</div>
					<!-- /Menu Toogle -->
				</div>
			</div>
			<!-- /ACCOUNT -->
		</div>
		<!-- row -->
	</div>
	<!-- container -->
</div>
<!-- /MAIN HEADER -->